body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.wallpapersafari.com/61/6/OcJX1L.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}